.Heroabout {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1697991796/Desktop_-_6_2_dw787c.png");
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center center;
  width: 100%;
  height: 150vh;
}
.aboutbg {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.firstabout {
}
.secondabout {
  display: flex;
  flex-direction: row-reverse;
}
.abouttext {
  color: #c9ffd5;

  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 67.84px */
  letter-spacing: 3.84px;
}
.firstabout p {
  margin-top: 20px;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%; /* 36.6px */
}
.aboutwhite {
  background-color: #fbfbfb;
}
.secabtsec {
  flex-direction: column;
  padding: 50px;
}
.secabtsec h2 {
  color: #12331a;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 162.5%; /* 54.9px */
}
.secabtsec p {
  line-height: 162.5%;
}
.swappro {
  display: flex;
  padding: 50px;
}
.swaptalk {
  flex: 1;
}
.swapgirl {
  flex: 1;
}
.swapgirl h2 {
  color: #12331a;
  font-style: normal;
  font-weight: 700;
  line-height: 162.5%;
  font-size: 36px;
}
.swapgirl p {
  padding-top: 10px;
  line-height: 172.5%;
}
.where {
  padding-left: 70px;
}
.Swapslider {
  overflow-x: hidden;
}
.Swapslider h2 {
  color: #12331a;
  font-style: normal;
  font-weight: 700;
  line-height: 162.5%;
  font-size: 36px;
  padding-left: 50px;
}
.Swapslider p {
  line-height: 162.5%;
  padding-left: 50px;
}
#where_des {
  display: none;
}
@media screen and (max-width: 700px) {
  .secabtsec {
    flex-direction: row;
  }
  .secabtsec h2 {
    font-size: 20px;
  }
  .aboutbg {
    flex-direction: row;
  }
  .Heroabout {
    width: 100%;
    height: 50vh;
  }
  .secabtsec p {
    line-height: 160.5%;
    font-size: 10px;
  }
  .swappro {
    flex-direction: row;
    display: block;
  }
  .Swapslider h2 {
    font-size: 20px;
  }
  .swapgirl h2 {
    font-size: 20px;
  }
  .swapgirl p {
    line-height: 160.5%;
    font-size: 10px;
  }
  #space_mobile {
    margin-top: 25px;
  }
  .Swapslider p {
    line-height: 150.5%;
    font-size: 10px;
  }
  #where_fix {
    margin-top: 28px;
    padding-left: 0;
    display: none;
  }
  #where_des {
    display: block;
    margin-top: 28px;
    padding-left: 0;
  }
}
