.admincontainer table {
    width: 96%;
    margin: 0 auto;
    border-bottom : 1px solid black;
    background: #FBFBFB;
    border-collapse: collapse;
    font-size: 14px;
    box-shadow: 0px 24px 48px -20px rgba(38, 53, 128, 0.1), 0px -4px 36px -4px rgba(38, 53, 128, 0.1);
    border-radius: 4px;

}

 th {
    border-bottom: 1px solid black;
    height: 50px;
    color: #575656;
  }

  td{
    text-align: center;
    height: 70px;
  }

  .status{
    color: #FFA055;
  }
  .confirmation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .accept{
    padding: 10px 32px;
    border: 1px solid #06B178;
    color: #06B178;
    border-radius: 8px;
    width: 100%;
  }

  .accept:hover{
    background-color: #06B178;
    color: white;
    cursor: pointer;
  }


  .decline{
    padding: 10px 32px;
    border-radius: 8px;
    width: 100%;
    color: #EF5252;
  }

  .decline:hover{
    background-color: #EF5252;
    color: white;
    cursor: pointer;

  }