.inputbox2 input{
    width: 500px;
    height: 50px;
    margin: '0 auto';
    /* border: 1px solid rebeccapurple; */
}


.cryptobtn button{
    width: 500px;
    height: 48px;
    background: #093D8B;
    border-radius: 8px;
    color: #FBFBFB;
    font-weight: 600;
    font-size: 14px;

}

.cryptobtn{
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 20px;
}



.wallet-address{
    border-radius: 4px;
    border: 0.5px solid var(--blues-blue-colour-03, #5B7EB2);
    background: #FFF;
    float:right;
    margin-right: 90px;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 500;
    /* color: var(--blues-primary-blue, #093D8B); */
    margin-bottom: 60px;
}

.payment-crypto{
    text-align: center;
    margin-top: 70px;
    clear: both;

}

.payment-crypto h5{
    color: var(--texts-colours-text-colours-04, #808080);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 22px;
}

.payment-crypto p{
    color: var(--texts-colours-text-colours-04, #808080);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 22px;
}

.cryptoconfirm{
    text-align: center;
    margin-top: 50px;
}

.cryptoconfirm h5{
    color: var(--texts-colours-primary-text-colour, #575656);
    font-size: 20px;
    margin-top: 24px;
    font-weight: 700;
}

.cryptoconfirm p{
    color: var(--texts-colours-text-colours-04, #808080);
    font-size: 12px;
    font-weight: 400;
}
.cryptoconfirm-btn{
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 20px;
}

.cryptoconfirm-btn button{
    width: 300px;
    height: 48px;
    background: #093D8B;
    border-radius: 8px;
    color: #FBFBFB;
    font-weight: 600;
    font-size: 14px;
}


@media screen and (max-width:414px) {
    .inputbox2 input{
        width: 300px;
        border: 1px solid rebeccapurple;
    }

    .cryptobtn Button{
        width: 300px;
    }

    .wallet-address{
        margin-right: 10px;
        margin-top: 20px;
    }
}

@media screen and (min-width:414px){
    .inputbox2 input{
        width: 350px;
    }
    .cryptobtn Button{
        width: 350px;
    }
    .wallet-address{
        margin-right: 10px;
    }
}

@media screen and (min-width:600px) {
    .wallet-address{
        margin-right: 60px;
    }
    .inputbox2 input{
        width: 450px;
    }
    .cryptobtn Button{
        width: 450px;
    }
}