.sidebar {
    width: 278px;
    height: calc(100vh - 97px);
    background-color: #fdfdfd;
    box-shadow: 0px 4px 10px 2px rgba(107, 107, 107, 0.16);
    border-right: 1px solid #FDFDFD;
    position: sticky;
    top: 0;
    padding-top: 30px;
    flex: 0 0 278px;
    display: block;
}
.hide{
    display: block;
}



.sidebar button{
    width: 30px;
    height: 30px;
    background-color: #ADBED8;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    left: 265px;
    top: 0px;
    display: none;
}

.sidebar a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-links1 {
    width: 100%;
    height: 65%;
}

.nav-links1 a {
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transition: .3s;
}

.nav-item {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 55px;
    transition: 400ms;
}

.nav-item a {
    margin-left: 15px;
    color: #575656;
}


.nav-item:hover {
    background-color: #325D9E;
    transition: 400ms;
}

.nav-item_active {
    background-color: #325D9E;
    transition: 400ms;
}

.nav-item_active a {
    color: #fdfdfd;
}

.nav-item .icon {
    color: #404040;
}

.nav-item .icon .hover {
    color: #ffffff;
}

.nav-item:hover a {
    color: #fdfdfd;
}

.nav-links2 {
    width: 100%;
    height: 35%;
    border-top: 1px solid #D9D9D9;
    padding-top: 30px;
}

@media screen and (max-width: 1200px){
    .sidebar{
        width: 200px;
        flex: 0 0 200px;  
        height: calc(100vh - 60px);
    }

    .link{
        font-size: 12px;
    }

    icon{
        size: 15px;
    }

    .nav-item {
        padding-left:50px;
    }
    
}

@media screen and (max-width: 1100px){
    .sidebar{
        width: 60px;
        flex: 0 0 60px;  
    }

    .sidebar a{
        display: none;
    }

    .nav-item {
        padding-left: 0px;
        justify-content: center;
    }

    .icon{
        width: 23px;
        height: 23px;
    }

}

/* @media screen and (max-width: 970px){
    .sidebar button{
        width: 30px;
        height: 30px;
        background-color: #ADBED8;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        left: 265px;
        top: 0px;
    }    

    .sidebar.collapsed {
        width: 50px;
    }
} */

@media screen and (max-width: 414px){
    .sidebar{
        position: absolute;
        width: 230px;
        /* display: none; */
    }

    .main-sidebar{
        display: block;
    }

    .sidebar a{
        display: block;
    }

    .hide2{
        display: none;
    }

    .nav-item{
        padding-left: 60px;
    } 
}

.hide{
    display: block;
}