.eight_section {
  width: 100%;
  height: 100vh;
  background-color: #c9ffd5;
  text-align: center;
  background-image: url("../../assets/bgmoney.png");
  background-size: cover; /* Scale the image to cover the entire element */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
}

.eight_section h3 {
  font-size: 32px;
  font-weight: 700;
  color: #1f552c;
  padding-bottom: 30px;
}

.des {
  color: #1f552c;
  font-size: 14px;
  padding-bottom: 30px;
  display: block;
}

.fyt {
  color: #fbfbfb;
  font-size: 14px;
  padding-bottom: 30px;
  display: none;
}

.eight_section button {
  width: 215px;
  height: 56px;
  background-color: #12331a;
  transition: ease-in-out 400ms;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.newsletter-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  letter-spacing: 4px;

  font-size: 12px;
}

/* NewsletterForm.css */
.newsletter-form-container {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  border: 1px solid #12331a;
  border-radius: 4px;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}

.inputclass {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.btninput {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  transition: background-color 0.3s;
}

.btninput:hover {
}

.email-icon {
  font-size: 1.2rem;
  margin: auto;
}

/* Responsive styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .newsletter-input {
    font-size: 14px;
    padding: 8px;
  }

  .join-newsletter-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Responsive styles for screens with a maximum width of 480px */
@media (max-width: 480px) {
  .newsletter-input {
    font-size: 12px;
    padding: 6px;
  }

  .join-newsletter-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .eight_section {
    height: fit-content;
    margin-top: 360px;
    padding: 40px;
  }

  .des {
    color: #fbfbfb;
    font-size: 14px;
    padding-bottom: 30px;
    display: none;
  }

  .fyt {
    color: #fbfbfb;
    font-size: 8px;
    padding-bottom: 30px;
    display: block;
  }

  .eight_section h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fbfbfb;
    padding-bottom: 30px;
  }

  .eight_section button {
    width: 167px;
    height: 36px;
    font-size: 10px;
  }
}
