.inputbox{
    width: 320px;
    /* height: 45px; */
    outline: none;
    border: 0.5px solid #2EA8A5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /* padding-right: 15px; */
}

.inputbox input{
    border: none;
    padding: none;
    height: 90%;
    width: 80%;
    background-color: transparent;
}

Select{
    margin: 0;
}

@media screen and (max-width: 414px){
    .inputbox{
        /* width: 100%; */
        padding-right: 0;
        width: 290px;
    }

    .inputbox input{
        width: 60%;
    }
}